#d2{
    background-color: magenta !important;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}